body {
  justify-content:center;
  align-items:center;
  text-align:center;
}
box1 {
  display:flex;
  width:1000px;
  height:1000px;
  margin:auto;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  text-align:center;
  background-color:lightpink;
  border: 5px dotted black;
  border-radius: 25px;
}
title {
  size:20;
}
text {
  size:10;
}
