body {
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
}
box1 {
  margin:auto;
  justify-content:center;
  align-items:center;
  text-align:center;
  background-color:lightpink;
  width:1200;
  border: 5px dotted black;
  border-radius: 25px;
}
title {
  size:20;
}
text {
  size:10;
}
