body {
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
}
box1 {
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  stylebackground-color:lightpink;
  width:1200;
  height:1100;
  border: 5px dotted black;
  border-radius: 25px;
}
title {
  size:20;
}
text {
  size:10;
}
